.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.game-container {
    border: 1px solid;
    background-color: aliceblue;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    max-width: 650px;
}



.answers-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
}

.score {
    color: aliceblue;
    font-size: xx-large;
}

.answer {
    background-color: aqua;
    font-size: x-large;
    cursor: pointer;
    min-height: 100px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

button:disabled {
    color: black;
}

.nextBtn {
    padding: 10px;
    background-color: rgb(255, 208, 0);
    border: none;
    cursor: pointer;
}

.nextBtn:hover {
    background-color: rgb(217, 255, 0);
}

.finished {
    font-size: xx-large;
    color: white;
}

.startOverBtn {
    padding: 10px;
    background-color: aqua;
    cursor: pointer
}

.startOverBtn:hover {
    background-color: aquamarine
}

@media(width < 750px) {
    .answers-grid {
        grid-template-columns: repeat(1, 300px);

    }

    .game-container {
       max-width: 400px;
    }
}